html, body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	height:100%;
}
.homeSection{
	display:flex;
	justify-content: center;
}
.hometitle{
	margin-top:30vh;
	border:1px solid white;
	padding:20px 30px 35px 30px;
}
.container{
	background-image:url(images/bg.jpg);
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.container h1, .container p{
	color:white;
}
.navbar{
	color:white;
}
.navbar{
	display:flex;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing: 2px;
	font-weight:bolder;
}
.navbar div{
	margin:50px 25px 0 25px;
}
#home{
	margin-left:auto;
}
#contact{
	margin-right:5vw;
}
ul li {
	margin-bottom:50px;
}
.navbar a:link{
	text-decoration:none;
	color:white;
}
.navbar a:hover{
	font-weight:bolder;
}
.navbar a:visited{
	color:white;
}
.title{
	text-align:center;
	margin-bottom:30px;
}
.title h1{
	margin:0;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-size:40px;
}
.title p{
	margin:0 0 0 0;
	line-height:1;
}
.othertitle{
	margin-top:10vh;
}
.aboutBox{
	height:300px;
	width:300px;
	background-color:wheat;
	margin:10px;
}
.deco{
	display:flex;
	justify-content: center;
}
.line{
	margin:8px 5px 0 5px;
	height:1px;
	width:30px;
	background-color:black;
}
.portfolioBox{
	height:200px;
	width:200px;
	background-color:skyblue;
	margin:10px;
}
.allSection{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}
#lower{
	font-size:30px;
	letter-spacing: 5px;
}
.homeline{
	margin:8px 5px 0 5px;
	height:1px;
	width:30px;
	background-color:white;
}
