html body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
/* ************************* */
.vertnav {
	background-color:black;
	height:100%;
	width:50px;
	position:fixed;
}
#home {
	margin-top:200px;
}
#home img {
	margin:250px 0 20px 13px;
	height:20px;
	width:20px;
}
.icons img {
	margin:0 0 20px 10px;
	height:25px;
	width:25px;
}
/* ************************* */

.title {
	margin-top:210px;
	height:100%;
	width:55%;
	float:left;
	border-right:2px solid black;
}
.title h1{
	margin:0 0 0 100px;
}
.title h2{
	margin:0 0 0 100px;
}
.title h1,h2 {
	font-size:60px;
	text-transform:uppercase;
	font-weight:lighter;
	letter-spacing:10px;
}
.titledec {
	font-size:100px;
	font-family: 'Montserrat', sans-serif;
}
.details {
	float:left;
	margin-top:210px;
	height:100%;
	width:30%;
	text-align:justify;
}
.footer {
	clear:both;
}
.details p{
	margin: 50px 0 0 20px;
}
