html body{
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
}
#header {
	height:60px;
	margin-top:0;
}
a:link {
	text-decoration: none;
	color:black;
}
ul li {
	float:right;
	display:block;
	text-transform: uppercase;
	margin: 20px 40px 20px 0;
	padding:0;
	font-size:15px;
}
ul {
	margin:0 80px 0 0;
}
.title {
	display:grid;
	grid-template-columns: auto;
	text-align:center;
	width:25%;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 
				0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
.title h1 {
	text-transform: uppercase;
	letter-spacing:4px;
	font-weight:lighter;
	font-size:40px;
}
@media only screen and (max-width: 640px) {
	.title h1 {
		font-size:60px;
	}
	.title {
		width:40%;
	}
}
